<footer class="footer">
  <ul>
    <li><a href="https://blog.virustotal.com">Blog |</li>
    <li><a href="https://twitter.com/virustotal">Twitter |</li>
    <li><a href="https://support.virustotal.com/hc/en-us/requests/new">Contact us |</li>
    <li><a href="https://support.virustotal.com/hc/en-us/articles/115002145529-Terms-of-Service">Условия обслуживания |</li>
    <li><a href="https://support.virustotal.com/hc/en-us/articles/115002168385-Privacy-Policy">Политика конфиденциальности</li>
  </ul>
</footer>

</body>
</html>
