<html>
<head>
	<title></title>
  <link rel="stylesheet" href="/public/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body id="page">

	<header class="header">
		<ul>
			<li><a href="/"/>Главная</a></li>
			<li><a href="/second"/>Вторая главная</a></li>
			<li><a href="/"/>Сообщество</a></li>
			<li><a href="/"/>Статистика</a></li>
			<li><a href="/"/>Документация</a></li>
			<li><a href="/"/>Вопросы и ответы</a></li>
			<li><a href="/"/>О нас</a></li>
		</ul>
	</header>
